.mainPageBody{
  display: flex;
  flex-direction: row;
}

.mainPageBody1-right {

text-align: left;
width: 20vw;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 8em;


}
.mainPageBody1-right-1{
  color: #012939 ;
  font-size:  230%;
  font-weight: 10000;
}
.mainPageBody1-right-2{
  color: #012939 ;
  font-size:  120%;
  
}
.mainPageBody1-input{
  width: 15em;
  height: 4em;
}
.mainPageBody1-free{
  width: 14em;
  height: 5em;
  margin-top: 1em ;
  background-color: #7db00e;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

}
.mainPageBody1-arrow{
  height: 5em;
  margin-top: 2em;
  color: #012939;
}



.photo1{
 height: 70vh; 
 width: 45vw;
 margin-top: 25px;
}