.jobsite {
  outline: 2px solid black;
  margin-bottom: 10px;
  display: flex;

}

.jobsite:hover {
  box-shadow: 10px 10px 5px #888;
}

.photo {
  display: flex;

  max-width: 13em;
}

.selected {
  outline: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  background-color: red;

}